body{
    background-color: #1F1F1F;
    overflow-x: hidden;
}

.movies{
    display: flex;
    height: fit-content;
    width: 100vw;
    border:1px solid pink;
    overflow-x: auto;
    scrollbar-width: none;
    padding:20px 0;
}
.movie-img{
    position: relative;
    transition: transform ease-in-out 0.4s;
}
.movie-img:hover{
   
    transform: scale(1.1);   
}
.movie-img > img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 5;
}

.HeaderStyles{
    padding-top: 20px;
}

.movies > * {
    flex-wrap: wrap;
    margin:0 20px;
}
/* .movies:hover{
    transform: scale(1.1);
} */


.inline-scroll{
    scroll-snap-type: inline mandatory;
}
.inline-scroll > *{
scroll-snap-align:start;
}

.HeaderStyles{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeaderStyles > h2{
    color: aliceblue;
}
.fa-heart{
    color: red;
    font-size: 25px;
}
.fa-trash{
    color: rgb(255, 0, 225);
    font-size: 25px;
}

.heart{
    position: absolute;
    top: 12px;
    right: 13px;
    visibility: hidden;
}
.movie-img:hover .heart{
    cursor: pointer;
    visibility: visible;
}